.dark_mode_bg {
	/*background-image: url(https://pbs.twimg.com/media/EPF_G9HWsAYLm94.jpg)*/
	background-image: url(https://i.pinimg.com/736x/5c/45/73/5c4573197ec4231dffd6a1f550b5ad3f.jpg);
}

.bg-flex {
	background-color: rgb(250,235,215,0.95);
}

#main_container {
	width: 1110px;
}

.vacancy-item{
	margin-top: 1px;
	margin-bottom: 1px;
	z-index: 1;
	padding: 20px;
	border:1px solid;
	border-color: #007bff;
}

.vacancy-item a {text-decoration: none;}

.vacancy-item a:hover {text-decoration: none;}

.name_vacancy {
	font-size: 24px;
}

.price_vacancy {
	font-size: 18px;
	font-weight: 500;
}

.button_date_vacancy {
	margin-top: 7px;
}

.description_vacancy {
	width: 400px;
}

.bloko_drop_item {
	padding-left: 8px;
}

.vacancy_drop_name {
	margin-bottom: 5px;
	font-size: 19px;
}