{% extends 'base.html' %}
{% block title %}Главная страница{% endblock %}
{% block body %}
  <section>
    <div class="container-xl bg-flex vh-100" id="main_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>Welcome to our site,</h1>
            <h1>dear anime-friend</h1>
          </div>
          <div class="col"></div>
          <div class="w-100"></div>
          <div class="col"></div>
          <div class="col">
            <h1>Here you can find an employer or employee</h1>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <h1>Perhaps you will find your lost opportunities here</h1>
          </div>
          <div class="col"></div>
          <div class="w-100"></div>
          <div class="col"></div>
          <div class="col">
            <h1>Or maybe the meaning of your life</h1>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <h1>Don't get lost friend, look for your place in life</h1>
          </div>
          <div class="col">
        </div>
  </section>
{% endblock %}