{% extends 'base.html' %}
{% block title %}Ваш профиль{% endblock %}

{% block body %}
      <div class="menu_profile container">
        <div class="row">

          <div class="col-sm-2">
            <div class="row profile_name">
              <h3>Жмышенко VALERACHKA</h3>
            </div>
            <div class="row container_profile_menu">
              <a class="profile_menu_item none_decor_link" href="">Мои резюме</a>
              <a class="profile_menu_item none_decor_link" href="">Мои вакансии</a>
            </div>
            <div class="row">
              <a class="profile_menu_item none_decor_link" href="">Настройки</a>
            </div>  
          </div>

          <div class="col-sm-10 pl-5">
            <div class="row">
              <div class="vacancy-item col">
                <div class="justify-content-between form-inline">
                  <a class="none_decor_link name_vacancy link" href="#">
                    Требуеца пажилое жужало
                  </a>
                  <div class="price_vacancy">
                    150 000 руб.
                  </div>
                </div>
                <div class="description_vacancy text-break">
                  Описание: Работа для реальных жмыхов,оклад в попу, а ещё для маладых ребят, ну вы поняли,да?
                </div>
                <div class="town_vacancy text-secondary">
                  город Ижевск
                </div>
                <div class="button_date_vacancy justify-content-between form-inline">
                  <div class="btn-group">
                    <button type="button" class="btn btn-success mr-1">Редактировать</button>
                    <button type="button" class="btn btn-danger">Удалить</button>
                  </div>
                  <div class="date_vacancy text-secondary">
                    29 ноября
                  </div>
                </div>
              </div>
              <div class="w-100"></div>

            </div>
          </div>
        </div>
      </div>
{% endblock %}