<div class="vacancy-item col">
	<div class="justify-content-between form-inline">
		<a class="name_vacancy link" href="#">
			Требуеца пажилое жужало
		</a>
		<div class="price_vacancy">
			150 000 руб.
		</div>
	</div>
	<div class="description_vacancy text-break">
		Описание: Работа для реальных жмыхов,оклад в попу, а ещё для маладых ребят, ну вы поняли,да?
	</div>
	<div class="town_vacancy text-secondary">
		город Ижевск
	</div>
	<div class="button_date_vacancy justify-content-between form-inline">

		<div class="dropup">
			<button type="button" class="btn btn-warning " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Показать контакты
			</button>
			<div class="dropdown-menu">
				<div class="vacancy_drop_name">
					Валера епта
				</div>
				<div class="vacancy_drop_phone">
					8-800-555-35-35
				</div>
				<div class="vacancy_drop_mail">
					pajasdps@mail.sru
				</div>
			</div>
		</div>

		<div class="date_vacancy text-secondary">
			29 ноября
		</div>
	</div>
</div>
<div class="w-100"></div>