<div class="vacancy-item col">
	<div class="justify-content-between form-inline">
		<div class="name_vacancy">
			Требуеца пажилое жужало
		</div>
		<div class="price_vacancy">
			150 000 руб.
		</div>
	</div>
	<div class="description_vacancy text-break">
		Описание: Работа для реальных жмыхов,оклад в попу, а ещё для маладых ребят, ну вы поняли,да?
	</div>
	<div class="town_vacancy text-secondary">
		город Ижевск
	</div>
	<div class="button_date_vacancy justify-content-between form-inline">
		<button type="button" class="btn btn-warning">Показать контакты</button>
		<div class="date_vacancy text-secondary">
			29 ноября
		</div>
	</div>
</div>
<div class="w-100"></div>