{% extends 'base.html' %}
{% block title %}Главная страница{% endblock %}
{% block body %}
  <section>
    <div class="container-xl bg-flex" id="main_container">
      <div class="container">
          <h5>Page number: {{ page }}</h5>
          {% for i in range (10) %}
          <div class="row">
              <div class="vacancy-item col">
              <div class="align-items-center row justify-content-between form-inline">
                <div class="name_vacancy">
                  Admin
                </div>
                <div class="price_vacancy">
                  60000 rub
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="paginator">
        {% if page>1 %}
          <a href="/work_search/{{ page - 1 }}">Назад</a>
        {% endif %}
        <a href="/work_search/1">1, </a>
        <a href="/work_search/2">2, </a>
        <a href="/work_search/3">3, </a>
        <a href="/work_search/4">4</a>
        <span>&hellip;</span>
        <a href="/work_search/99">99, </a>
        <a href="/work_search/100">100</a>
        {% if page<100 %}
            <a href="/work_search/{{ page + 1 }}">Вперёд</a>
        {% endif %}
        </div>
  </section>
{% endblock %}